<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>
    </head>
    <body>
        <header>
            <%-include('partials/header')%>
        </header>
        <main>
            <div id="listUser">
                <p>Liste des Users</p>
                <ul>
                    <% if (users) {
                        for (user of users) { %>
                            <li><a href="<%- origin %>/admin/<%- user %>"><%- user %></a></li>
                        <% }
                    } %>
                </ul>
            </div>
            <div id="addUser">
                <label for="login">Login</label>
                <input type="text" id="login">
                <label for="password">Password</label>
                <input type="password" id="password">
                <button id="buttonAddUser">Ajouter un User</button>
            </div>
        </main>
        <footer>
            <%-include('partials/footer')%>
        </footer>
        <script type="text/javascript">
            async function httpRequest(url, options, body) {
                var myInit = {
                    method: options.method,
                    mode: 'cors',
                    cache: 'default'
                };

                if (options.headers !== undefined) {
                    myInit.headers = options.headers
                } else {
                    myInit.headers = {}
                }
                myInit.headers['Origin'] = window.origin

                if (options.method == 'GET' || options.method == 'get')
                    myInit.headers['Accept'] = 'application/json'

                if (body !== undefined) {
                    myInit.body = JSON.stringify(body)
                    myInit.headers['Content-Type'] = 'application/json'
                }

                let tmp = await fetch(url, myInit)

                return tmp;
            }
            
            let button = document.getElementById('buttonAddUser')

            button.onclick = () => {
                let login = document.getElementById('login').value
                let password = document.getElementById('password').value

                httpRequest(`${window.origin}/auth/users`, {
                    method: 'POST',
                }, {
                    login: login,
                    password: password
                }).then(response => {
                    if (response.ok) {
                        location.reload()
                    }
                }).catch(error => {
                    console.log(error)
                })
            }
        </script>
    </body>
</html>